* {
    font-family: "Adwaita Mono Nerd Font", sans-serif;
    font-size: 9pt;
    min-height: 27px;
}

window#waybar {
	all:unset;
	background-color: rgba(0, 0, 0, 0.555);	
	border: none;
	border-radius: 5;
	transition-property: background-color;
	transition-duration: 0.5s;
}


button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 0 transparent;
	color: #e0cbb4;
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: transparent;
}

tooltip {
	background-color: #1F1F28;
	border-radius: 8px;
}

#clock,
.modules-left,
.modules-right {
	/*background-color: #1F1F28;
	border-radius: 8pt;*/
	color: #e0cbb4
}

.modules-left,
.modules-right {
	padding: 0 0.7em;
}

#workspaces {
	font-weight: bold;
	font-size: 8pt;
}

#workspaces button {
	padding: 0 0.25em;
	/*margin: 0.5 -0.65em*/
}

#workspaces button.visible {
	color: #e0cbb4;
}

#workspaces button.empty {
	color: #727169;
}

#workspaces button.active {
	background: transparent;
	color: #e0cbb4;
}


#window {
	padding: 0 0.5em;
	font-weight: bold;
	font-size: 8pt;
	/*color: #DCD7BA;*/ 
  color: #e0cbb4
}

#clock {
	padding: 0 0.5em;
	font-weight: bold;
	font-size: 8pt;
	/*color: #DCD7BA;*/ 
  color: #e0cbb4
}

#mpris {
	padding: 0 1em;
	font-weight: bold;
	font-size: 8pt;
	color: #e0cbb4;	
}

 #battery.charging { 
	color: #90f556; 
} 

#tray {
	font-size: 8pt;
	padding: 0 0.5em;
}

#custom-notifications {
	font-size: 8pt;
	padding: 0 0.5em;
}

#backlight,
#battery,
#network, 
#wireplumber {
	font-size: 8pt;
	padding: 0 0.70em;
	font-weight: bold;
	/*background: #1F1F28;*/
}

#battery.warning {
	color: #e81717;
}

#battery.critical {
	color: #e81717;
}
